# backend/.env.example

# Server
PORT=3000

# Frontend
# URL of the deployed frontend application, e.g., https://your-frontend-url.com
FRONTEND_URL=your_frontend_url_here

# Database
# PostgreSQL connection string format: 
# postgresql://username:password@host:port/database
# can be obtained free from Neon
DATABASE_URL=your_database_url_here