/* frontend/src/index.css */

/* defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  cursor: url("./images/cursorLg.png") 32 32, auto;
}

/* main image */
.main-image img {
  display: block;
  margin: 0;
  padding: 0;
}

.main-image {
  display: inline-block;
}

/* characters to find */
.characters-container {
  display: flex;
  gap: 10px;
}

/* shared character icons */
.character-icon {
  width: 50px;
  border-radius: 4px;
}

.characters-card.found {
  opacity: 0.5;
  text-decoration: line-through;
}

.characters-card.found img {
  filter: grayscale(100%);
}

/* select character dropdown */
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: rgb(182, 182, 182);
  border: 3px solid black;
  border-radius: 4px;
}

ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-bottom: 1px solid black;
}

ul li:last-child {
  border-bottom: none;
}

ul li:hover {
  background-color: rgb(145, 145, 145);
}

.select-character:hover .character-icon {
  filter: brightness(75%);
}